/* header */
.header {
  position: fixed;
  top: 10px;
  right: 20px;
}

.item {
  padding: 5px;
}

img.item {
  position: relative;
  top: 10px;
}
/* main */
.main {
  position: fixed;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
}

#search-bar {
  position: relative;
  right: 25%;
  border: 1.25px solid rgb(235, 201, 201);
  height: 30px;
  width: 527px;
  font-size: 15px;
  padding: 5px 15px;
  border-radius: 25px;
}

.google-search-buttons {
  height: 36px;
  width: 129px;
}


/* footer */
.footer {
  position: fixed;
  bottom: 10px;
}